.{
    margin: 0%;
    padding: 0%;
}

.main{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(backgr.png);
    background-size: cover;
    background-position: center;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35 px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 120%;
    cursor: pointer;
}

.menu ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.menu ul li a{
    text-decoration: none;
    color:white;
    text-transform: capitalize;
}

.menu ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background:turquoise;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.4s ease-in-out;
}

.menu ul li:hover::after{
    width: 68;
}

.content{
    width: 1200px;
    height:auto;
    margin:auto;
    color: white;
    position: relative;
    align-items:baseline;
}


.content p{
    padding-left: 20px;
    line-height: 30px;
    padding-bottom: 25px;
    letter-spacing: 1.2px;
    font-family: Arial;
}

.content h1{
    font-family: Arial;
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
    position:relative;
}