/* html,body,head{
    margin:none;
    padding:none;
    background-color: rgba(204, 226, 233, 0.644);
}
@font-face{
    font-family: myFirstFont;
    src: url(MTCORSVA.woff);
}

.header{
    font-family:myFirstFont;
    font-size: 25px;
}
.header{
    margin: 4px;
}
img{
    width: 120px;
    height: 100px;
    display: inline-flex;
}
.main-nav{
    display: inline-block;
    margin-left: 1000px;
    margin-bottom: 2px;
}
.main-nav>a{
    text-decoration: none;
    margin: 15px;
}
.main-nav>input{
    border: 1px solid #999;
	background: #e4dede;
	padding: 10px;
	box-shadow:0 1px 2px #ddd;
    -moz-box-shadow:0 1px 2px #ddd;
    -webkit-box-shadow:0 1px 2px #ddd;
}
.footer{
    background-color: honeydew;
    position: fixed;
	bottom: 3px;
	width:100%;
	height: 42px;
    padding-left: 30px;
    margin-left: 1px;
    margin-right: 5px;
    border: 1px solid rgb(199, 176, 176);
} */
* {
  margin: 0;
  padding: 0;
  /* background-image: url("backg.jpg"); */
}
.main {
  width: 100%;
  background: url("backg.jpg");
  background-position: center;
  background-size: cover;
  height: 109vh;
}
.navbar {
  padding-top: 20px;
  width: 100%;
  height: 75px;
  margin: auto;
}
.icon {
  width: 200px;
  float: left;
  height: 70px;
}
.logo {
  color: white;
  font-size: 35px;
  font-family: Arial;
  padding-left: 20px;
  float: left;
}
.menu {
  width: 100px;
  float: left;
  padding-left: 15%;
  height: 70px;
}
ul {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul li {
  list-style: none;
  margin-left: 62px;
  margin-top: 5px;
  font-size: 20px;
}
ul li a {
  width: auto;
  text-decoration: none;
  color: white;
  font-family: Arial;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}
ul li a:hover {
  color: orange;
}
.search {
  height: 20px;
  width: 20px;
}
.btn{
    border-radius: 30px;
    border-color: orange;
    border-width: 4px;
    padding: 8px;
    height: 500%;   
    width: 250%;
    font-size: 18px;
}